
<view-title>{{title}} | Joop Laan</view-title>

<div class="row">
  <div class="large-4 columns side-bar">
    <div class="contact-img">
      <img src="{{img_src}}" alt="{{img_alt}}">
    </div>
    <section class="section">
      <span ng-bind-html="welcome_side_text"></span>
    </section>
  </div>

  <div class="large-8 columns">
    <h1>{{title}}</h1>
    <div class="section-container tabs" data-section>
      <section class="section">
        <div class="content" data-slug="panel1">
          <div ng-bind-html="body"></div>
        </div>
      </section>
    </div>
  </div>



</div>

<!-- <pre>{{data | json}}</pre> -->
